.botao{
    min-width: 40px;
    width: 5vw;
    min-height: 5vh;
    position: relative;
    border-style: groove;
    background-color: grey;
    text-align: center;
}
.container{
    align-self: center;
    display: flex;
}
.calculadora {
    min-width: 180px;
    width: 25vw;
    min-height: 200px;
    background-color: black;
}

.botao_igual{
    width: 20vw;
    min-width: 160px;
    min-height: 5vh;
    position: relative;
    border-style: groove;
    background-color: grey;
    justify-content: center;
}

#visor {
    min-width: 160px;
    width: 20vw;
}